.topNav{
    text-decoration: none;
    float:right;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    padding-right: 305px;
    color:black;
}

.topNav a{
    color:black;
    font-weight: bold;
    padding:5px;
}

.videoContainer{
    position:relative
}

.videoTitle{
    top:100px;
    left:500px;
    position: absolute;
    color:white;
    font-size:40px;
}

.videoSubtitle{
    top:160px;
    left:500px;
    position: absolute;
    color:white;
    font-size:40px;
}

.tradeButton button{
    top:220px;
    left:500px;
    position: absolute;
    color:white;
    font-size:20px;
    background-color: #4CAF50;
}

.container-img{
    position:relative
}

.sampleText{
    top:100px;
    left:500px;
    position: absolute;
    color:white;
    font-size:40px;
}

.sampleImage{
    position: absolute;
    top:100px;
    right:500px;
}

.sampleList{
    top:200px;
    left:500px;
    position: absolute;
    color:white;
    font-size:30px;

}

.sampleParagraph{
    top:160px;
    left:500px;
    position: absolute;
    color:white;
    font-size:30px;
}

.topMenu{
      float:right;
      padding-right: 305px;
}

.topMenu a{
    color:black;
    font-weight: bold;
    padding:5px;
}
h1{
    text-align: center;
}

.table, th, tr{
    text-align:center;
}

.titloi{
    text-align: center;
}
h2{
    text-align: center;
}
.subtitles2{
    text-align:center;
}

.containerFormImage{
    position:relative;
}

.diveTitle{
    top:80px;
    left:500px;
    position: absolute;
    color:white;
    font-size:40px;
}

.diveName{
    top:140px;
    left:500px;
    position: absolute;
    width:500px;
}

.diveSurname{
    top:180px;
    left:500px;
    position: absolute;
    width:500px;
}

.divePhone{
    top:220px;
    left:500px;
    position: absolute;
    width:500px;
}

.botMenu{
    text-align:center;
}

.botMenu a{
    padding:25px;
    color:grey;
    text-decoration: none;
}
